/*header*/
/*Навигация и вход в аккаунт*/
.header__nav-link:hover,
.header__link-account:hover {
  color: var(--color-pink-purple);
}

.header__nav-link:focus,
.header__link-account:focus {
  background-color: var(--color-purple);
}

.header__nav-link:active {
  color: var(--color-purple);
  background-color: transparent;
}

.header__link-account:hover path {
  fill: currentColor;
}

.header__link-account:active {
  color: var(--color-amethyst);
  background-color: transparent;
}

.header__link-account:active path {
  fill: currentColor;
}

/*Выпадающие списки*/
.header__btn-art:hover {
  color: var(--color-amethyst);
}

.header__btn-art:hover path {
  stroke: currentColor;
}

.header__btn-art:focus-visible {
  color: var(--color-white);
  background-color: var(--color-purple);
}

.header__btn-art_active {
  color: var(--color-purple);
}

.header__btn-art_active svg {
  transform: rotateZ(180deg);
}

.header__btn-art_active path {
  stroke: currentColor;
}

.header__list-artist_active {
  display: block;
}

.header__item-artist:hover  {
  outline: var(--color-amethyst) 2px solid;
}

.header__item-artist:focus-within {
  outline: var(--color-amethyst) 2px solid;
}

.header__item-artist:active {
  outline: var(--color-craiola) 2px solid;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

/*форма поиска*/
.header__search-input:hover {
  border-bottom-color: var(--color-pink-purple);
}

.header__search-input:focus {
  border-bottom-color: var(--color-pink-purple);
}

.header__search-input:active {
  border-bottom-color: var(--color-purple);
}

/*Section hero*/
/*Кнопка подписаться на рассылку*/
.section-hero__link-sub:hover {
  outline: var(--color-craiola) solid 3px;
}

.section-hero__link-sub:focus {
  outline: var(--color-pink-purple) solid 2px;
  outline-offset: 3px;
}

.section-hero__link-sub:active {
  outline: var(--color-craiola) solid 3px;
  outline-offset: 0;
  background-color: var(--color-purple);
}


@media screen and (max-width: 1024px) {
  /*Лого*/
  .search-open .header__link-logo {
    margin-right: calc(50% - 94px);
  }

  /*Мобильный поиск*/
  .search-open .header__search-form_mobile-active {
    display: flex;
  }

  .search-open .header__search-btn_mobile-active {
    display: none;
  }

  /*Меню бургер*/
  .menu-open {
    overflow: hidden;
  }

  .menu-open .header__burger-inner_active {
    top: 50%;
    right: 50%;
    transform: rotate(45deg);
  }

  .menu-open .header__burger-inner_active::after {
    display: none;
  }

  .menu-open .header__burger-inner_active::before {
    top: 0;
    width: 36px;
    transform: rotate(-90deg);
  }

  .menu-open .nav-active {
    top: 0;
  }
}

@media (max-width: 768px) {
  /*Поиск*/
  .search-open .header__search-btn_mobile-active {
    display: block;
    position: absolute;
    right: 50px;
    z-index: 7;
    background-image: none;
  }

  .search-open .header__search-btn_mobile-active::before,
  .search-open .header__search-btn_mobile-active::after {
    width: 37px;
    height: 4px;
  }

  /*.search-open .header__search-form_mobile-active {*/
  /*  display: flex;*/
  /*}*/
}

@media (max-width: 480px) {
  .menu-open .header__burger-inner_active {
    width: 19px;
  }

  .menu-open .header__burger-inner_active::before {
    width: 19px;
  }

  .search-open .header__search-btn_mobile-active {
    right: 15px;
  }

  .search-open .header__search-btn_mobile-active::before,
  .search-open .header__search-btn_mobile-active::after {
    width: 19px;
    height: 2px;
  }
}
