/*header*/
/*Навигация и вход в аккаунт*/
.header__nav-link:hover,
.header__link-account:hover {
  color: var(--color-pink-purple);
}

.header__nav-link:focus,
.header__link-account:focus {
  background-color: var(--color-purple);
}

.header__nav-link:active {
  color: var(--color-purple);
  background-color: transparent;
}

.header__link-account:hover path {
  fill: currentColor;
}

.header__link-account:active {
  color: var(--color-amethyst);
  background-color: transparent;
}

.header__link-account:active path {
  fill: currentColor;
}

/*Выпадающие списки*/
.header__btn-art:hover {
  color: var(--color-amethyst);
}

.header__btn-art:hover path {
  stroke: currentColor;
}

.header__btn-art:focus-visible {
  color: var(--color-white);
  background-color: var(--color-purple);
}

.header__btn-art.is-active {
  color: var(--color-purple);
}

.header__btn-art.is-active svg {
  transform: rotateZ(180deg);
}

.header__btn-art.is-active path {
  stroke: currentColor;
}

.header__list-artist-wrapper.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: .3s;
}

.header__list-artist-wrapper.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: .3s;
}

.header__item-artist:hover  {
  outline: var(--color-amethyst) 2px solid;
}

.header__item-artist:focus-within {
  outline: var(--color-amethyst) 2px solid;
}

.header__item-artist:active {
  outline: var(--color-craiola) 2px solid;
}

.header__item-artist:active .header__link-artist::after {
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

/*форма поиска*/
.header__search-btn_desktop:hover rect,
.header__search-btn_desktop:hover path {
  fill: var(--color-pink-purple);
  transition: fill .3s ease-in-out;
}

.header__search-btn_desktop:focus rect,
.header__search-btn_desktop:focus path {
  fill: var(--color-pink-purple);
  transition: fill .3s ease-in-out;
}

.header__search-btn_desktop:active rect,
.header__search-btn_desktop:active path {
  fill: var(--color-purple);
  transition: fill .3s ease-in-out;
}

.header__search-input:hover {
  border-bottom-color: var(--color-pink-purple);
}

.header__search-input:focus {
  border-bottom-color: var(--color-pink-purple);
}

.header__search-input:active {
  border-bottom-color: var(--color-purple);
}


/*Section hero*/
/*Кнопка подписаться на рассылку*/
.section-hero__link-sub:hover {
  outline: var(--color-craiola) solid 3px;
}

.section-hero__link-sub:focus {
  outline: var(--color-pink-purple) solid 2px;
  outline-offset: 3px;
}

.section-hero__link-sub:active {
  outline: var(--color-craiola) solid 3px;
  outline-offset: 0;
  background-color: var(--color-purple);
}

/*Section gallery*/
/*Фильтр*/
.section-gallery__swiper-container_active {
  display: block;
}

.choices:hover,
.choices:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-focused .choices__item--selectable.is-highlighted {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.2);
}

.is-active .is-highlighted {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.2);
}

/* Авторизация */
.section-gallery__link-authorization:hover {
  color: var(--color-amethyst);
}

.section-gallery__link-authorization:hover::after {
  transform: scaleX(1);
}

.section-gallery__link-authorization:focus {
  color: var(--color-white);
  background-color: var(--color-amethyst);
}

.section-gallery__link-authorization:active {
  color: var(--color-purple);
}

.section-gallery__link-authorization:active::after {
  background-color: var(--color-purple);
  transform: scaleX(1);
}

/*слайдер*/
.section-gallery__slide-btn:hover.section-gallery__slide-btn::after {
  opacity: 1;
}

.section-gallery__slide:focus-within {
  outline: var(--color-purple) solid 3px;
}

.section-gallery__slide-btn:active.section-gallery__slide-btn::after {
  opacity: 1;
}

.section-gallery__btn-next:hover,
.section-gallery__btn-prev:hover {
  background-color: var(--color-amethyst);
}

.section-gallery__btn-next:focus,
.section-gallery__btn-prev:focus {
  outline: var(--color-black) solid 2px;
  outline-offset: -2px
}

.section-gallery__btn-next:active,
.section-gallery__btn-prev:active {
  background-color: var(--color-amethyst);
  outline: var(--color-black) solid 2px;
  outline-offset: -2px
}

/*Модальные окна*/
.modals-active {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.modal__overlay_visible {
  opacity: 1;
  visibility: visible;
}

.modal__slider_visible {
  display: flex;
}

/* Каталог */
/* Флаги */
.section-catalog__btn-filter:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.section-catalog__btn-filter_active {
  outline: 2px solid var(--color-purple);
  outline-offset: 10px;
}

.section-catalog__btn-filter:focus {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.section-catalog__btn-filter:active {
  border: 2px solid var(--color-purple);
}

/* Аккордеон */
/* hover */
.accordion__item:first-child .accordion__btn:hover,
.accordion__btn:hover {
  border-color: var(--color-amethyst);
}

.accordion__btn:hover .accordion__btn-dates {
  color: var(--color-amethyst);
}

.accordion__btn:hover .accordion__icon {
  background-color: var(--color-craiola);
}

/* focus */
.accordion__btn:focus {
  outline: none;
}

.accordion__btn:focus .accordion__btn-dates {
  color: var(--color-white);
  background-color: var(--color-amethyst);
}

.accordion__btn:focus .accordion__icon {
  background-color: var(--color-craiola);
}

/* active */
.accordion__item:first-child .accordion__btn:active,
.accordion__item:first-child .accordion__btn.ui-accordion-header-active,
.accordion__btn.ui-accordion-header-active,
.accordion__btn:active {
  border-color: var(--color-purple);
}

.accordion__btn:active .accordion__btn-dates,
.accordion__btn.ui-accordion-header-active .accordion__btn-dates {
  color: var(--color-purple);
}

.accordion__btn:active .accordion__icon,
.accordion__btn.ui-accordion-header-active .accordion__icon {
  background-color: var(--color-craiola);
  border: 2px solid var(--color-amethyst);
}

.accordion__btn.ui-accordion-header-active .accordion__icon-img {
  transform: rotate(180deg);
  top: calc(50% - 7px);
}

.accordion__list-authors-country.ui-accordion-content-active {
  border-color: var(--color-light-telegray);
}

/* Ссылки */
/* hover */
.accordion__btn-author:hover {
  color: var(--color-amethyst);
}

.accordion__btn-author:hover.accordion__btn-author::after {
  transform: scaleX(1);
}

.accordion__btn-author:focus {
  color: var(--color-white);
  background-color: var(--color-purple);
  outline: none;
}

.accordion__btn-author:active {
  color: var(--color-purple);
}

/* Взаимодействие с js */
.tabs-content__wrap_active,
.accordion__item-authors-country_active {
  display: block;
  animation: dropdownOpen .3s ease-in-out;
}

.is-disabled {
  animation: dropdownClose .3s ease-in-out;
}

/* События */
.events__link-more:focus {
  background-color: var(--color-amethyst);
  color: var(--color-white);
}

.events__link-more:focus.events__link-more::after {
  background-color: var(--color-white);
}

.events__link-more:hover {
  color: var(--color-purple);
}

.events__link-more:hover.events__link-more::after {
  background-color: var(--color-purple);
}

.events__link-more:active {
  color: var(--color-dark-green);
}

.events__link-more:active.events__link-more::after {
  background-color: var(--color-dark-green);
}

.btn-nav-slider:hover {
  background-color: var(--color-craiola);
}

.btn-nav-slider:focus {
  border: 2px solid var(--color-amethyst);
}

.btn-nav-slider:active {
  background-color: var(--color-craiola);
  border: 2px solid var(--color-amethyst);
}

/* Проекты */
.section-projects__tooltip:hover .section-projects__tooltip-icon,
.section-projects__tooltip:focus .section-projects__tooltip-icon {
  fill: var(--color-black);
}

.section-projects__tooltip:hover .section-projects__tooltip-circle,
.section-projects__tooltip:focus .section-projects__tooltip-circle {
  fill: var(--color-craiola);
}

.section-projects__tooltip:active .section-projects__tooltip-icon {
  fill: var(--color-white);
}

.section-projects__tooltip:active .section-projects__tooltip-circle {
  fill: var(--color-amethyst);
}

.section-projects__link-more:hover {
  color: var(--color-amethyst);
}

.section-projects__link-more:focus {
  color: var(--color-white);
  background-color: var(--color-amethyst);
}

.section-projects__link-more:active {
  color: var(--color-purple);
}

.partners__link:hover .partners__slide-img {
  filter: none;
}

.partners__link:focus.partners__link::after {
  border-color: var(--color-amethyst);
}

.partners__link:active.partners__link::after {
  border-color: var(--color-amethyst);
}

.partners__link:active .partners__slide-img {
  filter: none;
}

/* Контакты */
.contacts__input:hover,
.contacts__input:focus {
  background-color: var(--color-platinum);
}

.contacts__btn-call:hover {
  color: var(--color-white);
  background-color: var(--color-amethyst);
}

.contacts__btn-call:focus {
  outline: 2px solid var(--color-pink-purple);
  outline-offset: 5px;
}

.contacts__btn-call:active {
  color: var(--color-white);
  background-color: var(--color-amethyst);
  border: 3px solid var(--color-craiola);
}

.contacts__messegers-link:hover .contacts__messegers-icon-link,
.contacts__messegers-link:focus .contacts__messegers-icon-link {
  opacity: .5;
}

.contacts__messegers-link:active .contacts__messegers-icon-link {
  outline: 1px solid var(--color-purple);
}

/* footer */
.footer__socials-link:hover path,
.footer__socials-link:focus path {
  fill: var(--color-white);
}

.footer__socials-link:active path {
  fill: var(--color-amethyst);
}

@media screen and (max-width: 1024px) {
  /*Лого*/
  .search-open .header__link-logo {
    margin-right: calc(50% - 94px);
  }

  /*Мобильный поиск*/
  .search-open .header__search-form_mobile-active {
    display: flex;
  }

  .search-open .header__search-btn_mobile-active {
    display: none;
  }

  /*Меню бургер*/
  .menu-open {
    overflow: hidden;
  }

  .menu-open .header__burger-inner_active {
    top: 50%;
    right: 50%;
    transform: rotate(45deg);
  }

  .menu-open .header__burger-inner_active::after {
    display: none;
  }

  .menu-open .header__burger-inner_active::before {
    top: 0;
    width: 36px;
    transform: rotate(-90deg);
  }

  .menu-open .nav-active {
    top: 0;
  }
}

@media (max-width: 768px) {
  /*Поиск*/
  .search-open .header__search-btn_mobile-active {
    display: block;
    position: absolute;
    right: 50px;
    z-index: 7;
    background-image: none;
  }

  .search-open .header__search-btn_mobile-active::before,
  .search-open .header__search-btn_mobile-active::after {
    width: 37px;
    height: 4px;
  }

  .section-catalog__tabs-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .menu-open .header__burger-inner_active {
    width: 19px;
  }

  .menu-open .header__burger-inner_active::before {
    width: 19px;
  }

  .search-open .header__search-btn_mobile-active {
    right: 15px;
  }

  .search-open .header__search-btn_mobile-active::before,
  .search-open .header__search-btn_mobile-active::after {
    width: 19px;
    height: 2px;
  }

  /* Каталог */
  .section-catalog__btn-filter_active {
    outline-offset: 4px;
  }

  .accordion__btn.ui-accordion-header-active .accordion__icon-img {
    top: calc(50% - 4px);
  }
}
