@keyframes menu-open {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes search-open {
  from {
    transform: translateY(-50%) scaleX(0);
    opacity: 0;
  }
  to {
    transform: translateY(-50%) scaleX(1);
    opacity: 1;
  }
}

@keyframes search-close {
  from {
    transform: translateY(-50%) scaleX(1);
    opacity: 1;
  }
  to {
    transform: translateY(-50%) scaleX(0);
    opacity: 0;
  }
}

@keyframes animBackgroundHero {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.section-hero__slide {
  animation: animBackgroundHero 4s linear infinite alternate;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
