/*Верхний блок*/
.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container-black {
  padding-top: 26px;
  padding-bottom: 28px;
  background-color: var(--color-black);
}

/*Кнопка бургер меню*/
.header__btn-burger {
  display: none;
  position: relative;
  width: 46px;
  height: 38px;
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 5;
}

.header__burger-inner {
  top: 5px;
  width: 36px;
}

.header__burger-inner::after {
  content: '';
  top: 12px;
  width: 28px;
}

.header__burger-inner::before {
  content: '';
  top: 25px;
  width: 24px;
}

.header__burger-inner,
.header__burger-inner::after,
.header__burger-inner::before {
  position: absolute;
  height: 3px;
  background-color: var(--color-white);
  left: 0;
  transition: transform .2s linear;
}

/*Скрываем заголовок*/

/*Лого*/
.header__link-logo {
  margin-right: 100px;
  min-width: 173px;
  height: 40px;
}

/*Меню навигации*/
.header__nav-wrap {
  flex: 0 1 1248px;
}

.header__nav-scroll {
  display: flex;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
}

.header__nav-item:not(:last-child) {
  margin-right: 56px;
}

.header__nav-item {
  padding-top: 6px;
  padding-bottom: 6px;
}

.header__nav-link {
  margin-left: -6px;
  padding-right: 6px;
  padding-left: 6px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  text-decoration: none;
  outline: none;
  transition: color .3s ease-in-out, background-color .2s linear;
}

/*ссылка на личный кабинет*/
.header__link-account {
  display: flex;
  flex-wrap: nowrap;
  margin-right: -5px;
  padding: 6px 5px;
  color: var(--color-white);
  font-size: 18px;
  outline: none;
  text-decoration: none;
  transition: color .3s ease-in-out, background-color .2s linear;
}

.header__link-account path {
  transition: fill .3s ease-in-out;
}

.header__link-arrow {
  padding-right: 2px;
}

/* форма поиска */
.header__search-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.header__search-btn_open {
  display: none;
}

.header__search-btn_desktop {
  margin-right: 4px;
  padding-top: 9px;
}

.header__search-btn_desktop rect,
.header__search-btn_desktop path {
  transition: fill .3s ease-in-out;
}

.header__search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__search-form_mobile {
  position: absolute;
  top: 50%;
  right: 50px;
  display: none;
  background-color: var(--color-black);
  transform: translateY(-50%);
  transform-origin: right;
}

.header__search-input {
  color: var(--color-white);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-white);
  transition: border-color .3s ease-in-out;
  outline: none;
}

.header__search-input_desktop {
  padding: 5px 5px 5px 0;
  width: 218px;
}

.header__search-input_desktop::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

/*Нижний блок*/
.header__container-transparent {
  position: relative;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/*Меню навигации по художникам*/
.header__nav-artist-wrap {
  flex: 0 1 1071px;
}

.header__nav-artist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__nav-artist-inner {
  position: relative;
  margin-right: 30px;
}

.header__btn-art {
  outline: none;
  border: none;
  color: var(--color-white);
  font-size: 18px;
  line-height: 25px;
  background-color: transparent;
  cursor: pointer;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.header__btn-art:first-child {
  margin-left: -6px;
}

.header__list-artist-wrapper {
  display: none;
  position: absolute;
  top: 52px;
  padding-top: 38px;
  padding-bottom: 38px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.header__simplebar-container {
  width: 300px;
  height: 224px;
}

.header__list-artist {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 40px;
  width: 300px;
  height: 224px;
}

.header__item-artist {
  position: relative;
  padding: 9px 70px 12px 14px;
  width: 220px;
  line-height: 18px;
  transition: outline .1s ease-in-out, background .1s ease-in-out;
}

.header__item-artist:not(:last-child) {
  margin-bottom: 20px;
}

.header__link-artist {
  outline: none;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
  z-index: 2;
}

.header__link-artist::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/*!*Фоновые изображения в выпадающих списках*!*/
/*!*Реализм*!*/
.tintoretto {
  background-image: url("../img/header/art/tintoretto.jpg");
  background-image: -webkit-image-set(url("../img/header/art/tintoretto@2x.avif") 2x,
      url("../img/header/art/tintoretto.avif") 1x);
  background-image: image-set(url("../img/header/art/tintoretto@2x.avif") type('image/avif') 2x,
      url("../img/header/art/tintoretto.avif") type('image/avif') 1x,
      url("../img/header/art/tintoretto@2x.jpg") 2x,
      url("../img/header/art/tintoretto.jpg") 1x);
}

.frederick {
  background-image: url("../img/header/art/frederick.jpg");
  background-image: -webkit-image-set(url("../img/header/art/frederick@2x.avif") 2x,
      url("../img/header/art/frederick.avif") 1x);
  background-image: image-set(url("../img/header/art/frederick@2x.avif") type('image/avif') 2x,
      url("../img/header/art/frederick.avif") type('image/avif') 1x,
      url("../img/header/art/frederick@2x.jpg") 2x,
      url("../img/header/art/frederick.jpg") 1x);
}

.leonardo {
  background-image: url("../img/header/art/leonardo.jpg");
  background-image: -webkit-image-set(url("../img/header/art/leonardo@2x.avif") 2x,
      url("../img/header/art/leonardo.avif") 1x);
  background-image: image-set(url("../img/header/art/leonardo@2x.avif") type('image/avif') 2x,
      url("../img/header/art/leonardo.avif") type('image/avif') 1x,
      url("../img/header/art/leonardo@2x.jpg") 2x,
      url("../img/header/art/leonardo.jpg") 1x);
}

.verrocchio {
  background-image: url("../img/header/art/verrocchio.jpg");
  background-image: -webkit-image-set(url("../img/header/art/verrocchio@2x.avif") 2x,
      url("../img/header/art/verrocchio.avif") 1x);
  background-image: image-set(url("../img/header/art/verrocchio@2x.avif") type('image/avif') 2x,
      url("../img/header/art/verrocchio.avif") type('image/avif') 1x,
      url("../img/header/art/verrocchio@2x.jpg") 2x,
      url("../img/header/art/verrocchio.jpg") 1x);
}

/*Импрессионизм*/
.monet {
  background-image: url("../img/header/art/monet.jpg");
  background-image: -webkit-image-set(url("../img/header/art/monet@2x.avif") 2x,
      url("../img/header/art/monet.avif") 1x);
  background-image: image-set(url("../img/header/art/monet@2x.avif") type('image/avif') 2x,
      url("../img/header/art/monet.avif") type('image/avif') 1x,
      url("../img/header/art/monet@2x.jpg") 2x,
      url("../img/header/art/monet.jpg") 1x);
}

.sisley {
  background-image: url("../img/header/art/sisley.jpg");
  background-image: -webkit-image-set(url("../img/header/art/sisley@2x.avif") 2x,
      url("../img/header/art/sisley.avif") 1x);
  background-image: image-set(url("../img/header/art/sisley@2x.avif") type('image/avif') 2x,
      url("../img/header/art/sisley.avif") type('image/avif') 1x,
      url("../img/header/art/sisley@2x.jpg") 2x,
      url("../img/header/art/sisley.jpg") 1x);
}

.manet {
  background-image: url("../img/header/art/manet.jpg");
  background-image: -webkit-image-set(url("../img/header/art/manet@2x.avif") 2x,
      url("../img/header/art/manet.avif") 1x);
  background-image: image-set(url("../img/header/art/manet@2x.avif") type('image/avif') 2x,
      url("../img/header/art/manet.avif") type('image/avif') 1x,
      url("../img/header/art/manet@2x.jpg") 2x,
      url("../img/header/art/manet.jpg") 1x);
}

.renoir {
  background-image: url("../img/header/art/renoir.jpg");
  background-image: -webkit-image-set(url("../img/header/art/renoir@2x.avif") 2x,
      url("../img/header/art/renoir.avif") 1x);
  background-image: image-set(url("../img/header/art/renoir@2x.avif") type('image/avif') 2x,
      url("../img/header/art/renoir.avif") type('image/avif') 1x,
      url("../img/header/art/renoir@2x.jpg") 2x,
      url("../img/header/art/renoir.jpg") 1x);
}

/*Постимпрессионизм*/
.van-gogh {
  background-image: url("../img/header/art/van_gogh.jpg");
  background-image: -webkit-image-set(url("../img/header/art/van_gogh@2x.avif") 2x,
      url("../img/header/art/van_gogh.avif") 1x);
  background-image: image-set(url("../img/header/art/van_gogh@2x.avif") type('image/avif') 2x,
      url("../img/header/art/van_gogh.avif") type('image/avif') 1x,
      url("../img/header/art/van_gogh@2x.jpg") 2x,
      url("../img/header/art/van_gogh.jpg") 1x);
}

.cezanne {
  background-image: url("../img/header/art/cezanne.jpg");
  background-image: -webkit-image-set(url("../img/header/art/cezanne@2x.avif") 2x,
      url("../img/header/art/cezanne.avif") 1x);
  background-image: image-set(url("../img/header/art/cezanne@2x.avif") type('image/avif') 2x,
      url("../img/header/art/cezanne.avif") type('image/avif') 1x,
      url("../img/header/art/cezanne@2x.jpg") 2x,
      url("../img/header/art/cezanne.jpg") 1x);
}

.gauguin {
  background-image: url("../img/header/art/gauguin.jpg");
  background-image: -webkit-image-set(url("../img/header/art/gauguin@2x.avif") 2x,
      url("../img/header/art/gauguin.avif") 1x);
  background-image: image-set(url("../img/header/art/gauguin@2x.avif") type('image/avif') 2x,
      url("../img/header/art/gauguin.avif") type('image/avif') 1x,
      url("../img/header/art/gauguin@2x.jpg") 2x,
      url("../img/header/art/gauguin.jpg") 1x);
}

.sulfur {
  background-image: url("../img/header/art/sulfur.jpg");
  background-image: -webkit-image-set(url("../img/header/art/sulfur@2x.avif") 2x,
      url("../img/header/art/sulfur.avif") 1x);
  background-image: image-set(url("../img/header/art/sulfur@2x.avif") type('image/avif') 2x,
      url("../img/header/art/sulfur.avif") type('image/avif') 1x,
      url("../img/header/art/sulfur@2x.jpg") 2x,
      url("../img/header/art/sulfur.jpg") 1x);
}

/*Авангард*/
.kandinsky {
  background-image: url("../img/header/art/kandinsky.jpg");
  background-image: -webkit-image-set(url("../img/header/art/kandinsky@2x.avif") 2x,
      url("../img/header/art/kandinsky.avif") 1x);
  background-image: image-set(url("../img/header/art/kandinsky@2x.avif") type('image/avif') 2x,
      url("../img/header/art/kandinsky.avif") type('image/avif') 1x,
      url("../img/header/art/kandinsky@2x.jpg") 2x,
      url("../img/header/art/kandinsky.jpg") 1x);
}

.marinetti {
  background-image: url("../img/header/art/marinetti.jpg");
  background-image: -webkit-image-set(url("../img/header/art/marinetti@2x.avif") 2x,
      url("../img/header/art/marinetti.avif") 1x);
  background-image: image-set(url("../img/header/art/marinetti@2x.avif") type('image/avif') 2x,
      url("../img/header/art/marinetti.avif") type('image/avif') 1x,
      url("../img/header/art/marinetti@2x.jpg") 2x,
      url("../img/header/art/marinetti.jpg") 1x);
}

.malevich {
  background-image: url("../img/header/art/malevich.jpg");
  background-image: -webkit-image-set(url("../img/header/art/malevich@2x.avif") 2x,
      url("../img/header/art/malevich.avif") 1x);
  background-image: image-set(url("../img/header/art/malevich@2x.avif") type('image/avif') 2x,
      url("../img/header/art/malevich.avif") type('image/avif') 1x,
      url("../img/header/art/malevich@2x.jpg") 2x,
      url("../img/header/art/malevich.jpg") 1x);
}

.picasso {
  background-image: url("../img/header/art/picasso.jpg");
  background-image: -webkit-image-set(url("../img/header/art/picasso@2x.avif") 2x,
      url("../img/header/art/picasso.avif") 1x);
  background-image: image-set(url("../img/header/art/picasso@2x.avif") type('image/avif') 2x,
      url("../img/header/art/picasso.avif") type('image/avif') 1x,
      url("../img/header/art/picasso@2x.jpg") 2x,
      url("../img/header/art/picasso.jpg") 1x);
}

/*Футуризм*/
.carr {
  background-image: url("../img/header/art/carr.jpg");
  background-image: -webkit-image-set(url("../img/header/art/carr@2x.avif") 2x,
      url("../img/header/art/carr.avif") 1x);
  background-image: image-set(url("../img/header/art/carr@2x.avif") type('image/avif') 2x,
      url("../img/header/art/carr.avif") type('image/avif') 1x,
      url("../img/header/art/carr@2x.jpg") 2x,
      url("../img/header/art/carr.jpg") 1x);
}

.pratella {
  background-image: url("../img/header/art/pratella.jpg");
  background-image: -webkit-image-set(url("../img/header/art/pratella@2x.avif") 2x,
      url("../img/header/art/pratella.avif") 1x);
  background-image: image-set(url("../img/header/art/pratella@2x.avif") type('image/avif') 2x,
      url("../img/header/art/pratella.avif") type('image/avif') 1x,
      url("../img/header/art/pratella@2x.jpg") 2x,
      url("../img/header/art/pratella.jpg") 1x);
}

.severini {
  background-image: url("../img/header/art/severini.jpg");
  background-image: -webkit-image-set(url("../img/header/art/severini@2x.avif") 2x,
      url("../img/header/art/severini.avif") 1x);
  background-image: image-set(url("../img/header/art/severini@2x.avif") type('image/avif') 2x,
      url("../img/header/art/severini.avif") type('image/avif') 1x,
      url("../img/header/art/severini@2x.jpg") 2x,
      url("../img/header/art/severini.jpg") 1x);
}

.score {
  background-image: url("../img/header/art/balla.jpg");
  background-image: -webkit-image-set(url("../img/header/art/balla@2x.avif") 2x,
      url("../img/header/art/balla.avif") 1x);
  background-image: image-set(url("../img/header/art/balla@2x.avif") type('image/avif') 2x,
      url("../img/header/art/balla.avif") type('image/avif') 1x,
      url("../img/header/art/balla@2x.jpg") 2x,
      url("../img/header/art/balla.jpg") 1x);
}

/*simplebar*/
.simplebar-track {
  background-color: var(--color-black);
}

.simplebar-track.simplebar-vertical {
  right: 19px;
  width: 2px;
}

.simplebar-scrollbar {
  opacity: 1;
}

.simplebar-scrollbar::before {
  right: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  opacity: 1;
}

.simplebar-scrollbar.simplebar-visible:before {
  background: var(--color-white);
  opacity: 1;
}

/*Поиск*/

/* .header__search-open-btn {

}

.header__search-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 30px;
}

.header__search-form_mobile {
  display: none;
  position: absolute;
  right: 50px;
}

.header__search-btn {
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__search-btn_desktop {
  width: 29px;
  height: 28px;
  outline: none;
}

.header__search-btn_mobile {
  width: 30px;
  height: 30px;
  background-image: url("../img/header/search_btn_tablet.svg");
  background-size: 30px 30px;
  background-position: center center;
}

.header__search-btn {
  display: none;
}

.header__search-input {
  margin-left: 6px;
  width: 219px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
  outline: none;
  transition: border-bottom-color .3s ease-in-out;
}

.header__search-input::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.header__search-input_mobile {
  margin-left: 10px;
  padding: 0;
  width: 21.3vw;
} */
