@media (max-width: 1327px) {

  /*header*/
  /*Верхний блок*/
  /*Лого*/
  .header__link-logo {
    margin-right: 20px;
  }

  /*Меню навигации*/
  .header__nav {
    margin-right: 20px;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 20px;
  }

  /*Нижний блок*/
  /*choices*/
  .header__select-item:not(:last-child) {
    margin-right: 30px;
  }

  /*Поиск*/
  .header__search-input_desktop {
    width: 155px;
  }
}


@media (max-width: 1024px) {

  /*header*/
  .header__container-black {
    padding-bottom: 29px;
  }

  .header__btn-burger {
    display: block;
    margin-right: 0;
  }

  /*Лого*/
  .header__link-logo {
    min-width: 188px;
    height: 42px;
  }

  /*Меню навигации*/
  .header__nav-wrap {
    position: absolute;
    top: -1000%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 96px 48px 51px;
    width: 100%;
    max-height: 768px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 4;
  }

  .header__nav-scroll {
    flex-direction: column;
    align-items: start;
  }

  .header__container-simplebar {
    width: 100%;
    height: 621px;
  }

  .header__nav-scroll {
    width: 100%;
    height: 621px;
  }

  .header__nav-list {
    flex-direction: column;
  }

  .header__nav-item {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__nav-link {
    font-size: 24px;
    line-height: 64px;
  }

  /*Вход в аккаунт*/
  .header__link-account {
    border: 2px solid var(--color-amethyst);
    border-radius: 100px;
    padding: 22px 88px;
  }

  /*Поиск*/
  .header__search-form_mobile {
    background-color: #18171B;
  }

  .header__search-btn_mobile-active {
    display: block;
  }

  /*Нижний контейнер*/
  .header__container-transparent {
    display: none;
  }

  /*Section hero*/
  .section-hero__swiper-slider {
    top: -100px;
    height: 768px;
  }

  .slide-first {
    background-image: url("../img/main/hero/1024/background_1.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/1024/background_1@2x.avif") 2x,
        url("../img/main/hero/1024/background_1.avif") 1x);
    background-image: image-set(url("../img/main/hero/1024/background_1@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/1024/background_1.avif") type('image/avif') 1x,
        url("../img/main/hero/1024/background_1@2x.jpg") 2x,
        url("../img/main/hero/1024/background_1.jpg") 1x);
  }

  .slide-second {
    background-image: url("../img/main/hero/1024/background_2.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/1024/background_2@2x.avif") 2x,
        url("../img/main/hero/1024/background_2.avif") 1x);
    background-image: image-set(url("../img/main/hero/1024/background_2@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/1024/background_2.avif") type('image/avif') 1x,
        url("../img/main/hero/1024/background_2@2x.jpg") 2x,
        url("../img/main/hero/1024/background_2.jpg") 1x);
  }

  .slide-third {
    margin-right: 0;
    background-image: url("../img/main/hero/1024/background_3.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/1024/background_3@2x.avif") 2x,
        url("../img/main/hero/1024/background_3.avif") 1x);
    background-image: image-set(url("../img/main/hero/1024/background_3@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/1024/background_3.avif") type('image/avif') 1x,
        url("../img/main/hero/1024/background_3@2x.jpg") 2x,
        url("../img/main/hero/1024/background_3.jpg") 1x);
  }

  .section-hero__container {
    padding-top: 115px;
    padding-bottom: 140px;
  }

  .section-hero__title {
    margin-bottom: 10px;
    line-height: 83px;
  }

  .section-hero__lead {
    margin-bottom: 160px;
    max-width: 660px;
  }

  /*Section us*/
  .section-us {
    padding-top: 77px;
    padding-bottom: 53px;
  }

  /* Section gallery */
  .section-gallery {
    padding-bottom: 80px;
  }

  .section-gallery__wrap {
    flex: 0 1 330px;
    min-height: 679px;
  }

  .section-gallery__description {
    margin-bottom: -8px;
  }

  .section-gallery__swiper-container_painting,
  .section-gallery__swiper-container_drawing,
  .section-gallery__swiper-container_sculpture {
    width: 594px;
    height: 679px;
  }

  .section-gallery__slide {
    height: calc((100% - 34px) / 2);
  }

  .modals__slider {
    max-width: 594px;
    min-height: 594px;
  }

  .modals__img {
    max-width: 264px;
  }

  .modals__content {
    padding: 122px 50px 90px;
  }
}


@media (max-width: 768px) {

  /*Поиск*/
  .header__search-btn_mobile-active {
    display: block;
  }

  .header__search-btn_mobile-active::before,
  .header__search-btn_mobile-active::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    width: 0;
    height: 0;
    background-color: var(--color-white);
    z-index: 7;
  }

  .header__search-btn_mobile-active::before {
    transform: rotate(45deg);
  }

  .header__search-btn_mobile-active::after {
    transform: rotate(-45deg);
  }

  .header__search-form_mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 34px 100px 34px 50px;
    max-height: 100px;
    background-color: var(--color-black);
    z-index: 6;
  }

  .header__search-input_mobile {
    flex: 0 1 100%;
  }

  /*Section hero*/
  .slide-first {
    background-image: url("../img/main/hero/768/background_1.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/768/background_1@2x.avif") 2x,
        url("../img/main/hero/768/background_1.avif") 1x);
    background-image: image-set(url("../img/main/hero/768/background_1@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/768/background_1.avif") type('image/avif') 1x,
        url("../img/main/hero/768/background_1@2x.jpg") 2x,
        url("../img/main/hero/768/background_1.jpg") 1x);
  }

  .slide-second {
    background-image: url("../img/main/hero/768/background_2.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/768/background_2@2x.avif") 2x,
        url("../img/main/hero/768/background_2.avif") 1x);
    background-image: image-set(url("../img/main/hero/768/background_2@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/768/background_2.avif") type('image/avif') 1x,
        url("../img/main/hero/768/background_2@2x.jpg") 2x,
        url("../img/main/hero/768/background_2.jpg") 1x);
  }

  .slide-third {
    margin-right: 0;
    background-image: url("../img/main/hero/768/background_3.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/768/background_3@2x.avif") 2x,
        url("../img/main/hero/768/background_3.avif") 1x);
    background-image: image-set(url("../img/main/hero/768/background_3@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/768/background_3.avif") type('image/avif') 1x,
        url("../img/main/hero/768/background_3@2x.jpg") 2x,
        url("../img/main/hero/768/background_3.jpg") 1x);
  }

  /* Section gallery */
  .section-gallery {
    padding-bottom: 80px;
  }

  .section-gallery__wrap {
    width: 100%;
    margin-right: 0;
    min-height: 935px;
  }

  .section-gallery__wrap-filter {
    margin-bottom: 47px
  }

  .section-gallery__form {
    max-width: 280px
  }

  .section-gallery__description {
    order: 3;
    margin-bottom: -8px;
  }

  .section-gallery__swiper-container {
    padding-top: 58px;
    margin-bottom: 35px;
  }

  .section-gallery__swiper-container_painting,
  .section-gallery__swiper-container_drawing,
  .section-gallery__swiper-container_sculpture {
    width: auto;
    max-width: 668px;
    height: 652px;
  }

  .section-gallery__slide {
    /* width: 317px; */
    height: calc((100% - 34px) / 2);
  }

  .section-gallery__btn-next,
  .section-gallery__btn-prev {
    top: 22px;
  }

  .section-gallery__btn-next {
    left: 100px
  }

  .section-gallery__btn-prev {
    left: 0
  }

  .section-gallery__pagination {
    top: 6px;
    left: 42px;
  }

  .modals__slider {
    max-width: 668px;
  }

  .modals__img {
    max-width: 301px;
  }

  .modals__content {
    padding: 122px 49px 90px;
  }
}


@media (max-width: 661px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  /*header*/
  /*Меню навигации*/
  .header__nav-wrap {
    padding: 96px 48px 51px;
    max-height: 565px;
  }

  .header__container-simplebar {
    width: 100%;
    height: 418px;
  }

  .header__nav-scroll {
    width: 100%;
    height: 418px;
  }

  .header__nav-link {
    font-size: 18px;
    line-height: 48px;
  }

  /*Вход в аккаунт*/
  .header__link-account {
    border-radius: 100px;
    padding: 15px 60px;
  }

  /*Section hero*/
  .section-hero__swiper-slider {
    height: 565px;
  }

  .section-hero__slide {
    height: 565px;
  }

  .section-hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 25px 75px;
  }

  .section-hero__title {
    margin-bottom: 30px;
    width: 100%;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }

  .section-hero__lead {
    margin-bottom: 50px;
    width: 100%;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
  }

  .section-hero__link-sub {
    padding: 20px 30px;
    font-size: 16px;
    line-height: 16px;
  }

  /*Section us*/
  .section-us {
    padding-top: 35px;
  }

  /* Section gallery */
  .section-gallery__wrap {
    justify-content: flex-start;
    width: 100%;
    margin-right: 0;
    min-height: 810px;
  }

  .section-gallery__wrap-filter {
    margin-bottom: 90px
  }

  .section-gallery__form {
    max-width: 100%
  }

  .section-gallery__swiper-container {
    padding-top: 0;
    padding-bottom: 70px;
    margin-bottom: 20px;
  }

  .section-gallery__swiper-container_painting,
  .section-gallery__swiper-container_drawing,
  .section-gallery__swiper-container_sculpture {
    height: 437px;
  }

  .section-gallery__slide {
    width: 317px;
    height: 100%;
  }

  .section-gallery__btn-next,
  .section-gallery__btn-prev {
    top: auto;
    bottom: 0;
  }

  .section-gallery__btn-next {
    left: calc(50% + 35px)
  }

  .section-gallery__btn-prev {
    left: calc(50% - 65px)
  }

  .section-gallery__pagination {
    top: auto;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .modals__slider {
    max-width: calc(100% - 30px);
  }

  .modals__img {
    max-width: none;
    width: 225px;
  }

  .modals__content {
    padding: 70px 20px;
  }
}


@media (max-width: 480px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .title {
    font-size: 28px;
    line-height: 38px;
  }

  /*Верхний блок*/
  .header__container-black {
    padding-top: 8px;
    padding-bottom: 9px;
  }

  /*Кнопка бургер меню*/
  .header__btn-burger {
    width: 35px;
    height: 28px;
  }

  .header__burger-inner {
    width: 25px;
    height: 2px;
  }

  .header__burger-inner::after {
    top: 8px;
    width: 16px;
    height: 2px;
  }

  .header__burger-inner::before {
    top: 16px;
    width: 10px;
    height: 2px;
  }

  /*Лого*/
  .header__link-logo {
    min-width: 97px;
    height: 22px;
  }

  /*Меню навигации*/
  .header__nav-wrap {
    padding: 46px 15px 27px;
    max-height: 355px;
  }

  .header__container-simplebar {
    width: 100%;
    height: 282px;
  }

  .header__nav-scroll {
    width: 100%;
    height: 282px;
  }

  .header__nav-link {
    font-size: 16px;
    line-height: 32px;
  }

  /*Вход в аккаунт*/
  .header__link-account {
    padding: 10px 31px;
    font-size: 12px;
    line-height: 16px;
  }

  .header__link-arrow svg {
    width: 9px;
    height: 9px;
  }

  /*Поиск*/
  .header__search-form_mobile {
    margin-left: 0;
    padding: 40px 60px 19px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header__search-btn_mobile {
    margin-right: -6px;
    margin-bottom: -6px;
    width: 27px;
    height: 27px;
    background-image: url("../img/header/search_btn_mobile.svg");
    background-size: 27px 27px;
  }

  /*Section hero*/
  .section-hero__swiper-slider {
    height: 410px;
  }

  .section-hero__slide {
    height: 410px;
  }

  .slide-first {
    background-image: url("../img/main/hero/320/background_1.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/320/background_1@2x.avif") 2x,
        url("../img/main/hero/320/background_1.avif") 1x);
    background-image: image-set(url("../img/main/hero/320/background_1@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/320/background_1.avif") type('image/avif') 1x,
        url("../img/main/hero/320/background_1@2x.jpg") 2x,
        url("../img/main/hero/320/background_1.jpg") 1x);
  }

  .slide-second {
    background-image: url("../img/main/hero/320/background_2.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/320/background_2@2x.avif") 2x,
        url("../img/main/hero/320/background_2.avif") 1x);
    background-image: image-set(url("../img/main/hero/320/background_2@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/320/background_2.avif") type('image/avif') 1x,
        url("../img/main/hero/320/background_2@2x.jpg") 2x,
        url("../img/main/hero/320/background_2.jpg") 1x);
  }

  .slide-third {
    margin-right: 0;
    background-image: url("../img/main/hero/320/background_3.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/320/background_3@2x.avif") 2x,
        url("../img/main/hero/320/background_3.avif") 1x);
    background-image: image-set(url("../img/main/hero/320/background_3@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/320/background_3.avif") type('image/avif') 1x,
        url("../img/main/hero/320/background_3@2x.jpg") 2x,
        url("../img/main/hero/320/background_3.jpg") 1x);
  }

  .section-hero__container {
    padding: 30px 25px 45px;
  }

  .section-hero__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 40px;
  }

  .section-hero__lead {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .section-hero__link-sub {
    padding: 12px 17px;
    font-size: 12px;
    line-height: 16px;
  }

  /*Section us*/
  .section-us {
    padding-top: 51px;
    padding-bottom: 27px;
  }

  .section-us__title {
    margin-bottom: 12px;
  }

  .section-us__description {
    font-size: 14px;
    line-height: 28px;
  }

  /* section-gallery */
  .section-gallery {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .section-gallery__wrap {
    min-height: 764px;
  }

  .section-gallery__title {
    margin-bottom: 12px;
  }

  .section-gallery__form-title {
    margin-bottom: 5px;
  }

  .section-gallery__wrap-filter {
    margin-bottom: 40px;
  }

  .section-gallery__swiper-container {
    padding-bottom: 50px;
    height: 417px;
  }

  .modals__slider {
    flex-direction: column;
    max-width: calc(100% - 30px);
    max-height: 600px;
  }

  .modals__img {
    max-width: none;
    width: 100%;
    height: auto;
  }

  .modals__content {
    padding: 17px 20px;
  }

  .modals__author,
  .modals__date-artwork {
    margin-bottom: 0;
  }
}
