@media (max-width: 1327px) {

  /*header*/
  /*Верхний блок*/
  /*Лого*/
  .header__link-logo {
    margin-right: 40px;
  }

  /*Меню навигации*/
  .header__nav-wrap {
    flex: 0 1 870px;
  }

  .header__nav-wrap {
    align-items: center;
  }

  .header__nav {
    margin-right: 20px;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 20px;
  }

  /*Нижний блок*/
  /*choices*/
  .header__select-item:not(:last-child) {
    margin-right: 30px;
  }

  /*Поиск*/
  .header__search-input_desktop {
    width: 155px;
  }

  /* Колонки в каталоге */
  .accordion__list-author {
    columns: 2;
    column-gap: 45px;
  }

  /* Картинка заглушка */
  .accordion__placeholder-img {
    width: 173px;
    height: 114px;
    outline-offset: 8px;
  }
}


@media (max-width: 1024px) {

  /*header*/
  .header__container-black {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .header__btn-burger {
    display: block;
    margin-right: 0;
  }

  /*Лого*/
  .header__link-logo {
    margin-right: 0;
    min-width: 188px;
    height: 42px;
  }

  /*Меню навигации*/
  .header__nav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    padding: 96px 48px 51px;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 4;
  }

  .header__scroll-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 621px;
    max-height: calc(100vh - 147px);
    overflow: hidden;
    overflow-y: auto;
  }

  .header__nav-scroll {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 621px;
    max-height: calc(100vh - 147px);
  }

  .header__nav {
    margin-bottom: 50px;
  }

  .header__nav-list {
    flex-direction: column;
  }

  .header__nav-item {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__nav-link {
    font-size: 24px;
    line-height: 64px;
  }

  /*Вход в аккаунт*/
  .header__link-account {
    border: 2px solid var(--color-amethyst);
    border-radius: 100px;
    padding: 22px 88px;
  }

  /*Поиск*/
  .header__search-btn_open {
    display: block;
    padding-right: 0;
  }

  /*Нижний контейнер*/
  .header__container-transparent {
    display: none;
  }

  /*Section hero*/
  .section-hero__swiper-slider {
    top: -100px;
    height: 768px;
  }

  .slide-first {
    background-image: url("../img/main/hero/1024/background_1.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/1024/background_1@2x.avif") 2x,
        url("../img/main/hero/1024/background_1.avif") 1x);
    background-image: image-set(url("../img/main/hero/1024/background_1@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/1024/background_1.avif") type('image/avif') 1x,
        url("../img/main/hero/1024/background_1@2x.jpg") 2x,
        url("../img/main/hero/1024/background_1.jpg") 1x);
  }

  .slide-second {
    background-image: url("../img/main/hero/1024/background_2.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/1024/background_2@2x.avif") 2x,
        url("../img/main/hero/1024/background_2.avif") 1x);
    background-image: image-set(url("../img/main/hero/1024/background_2@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/1024/background_2.avif") type('image/avif') 1x,
        url("../img/main/hero/1024/background_2@2x.jpg") 2x,
        url("../img/main/hero/1024/background_2.jpg") 1x);
  }

  .slide-third {
    margin-right: 0;
    background-image: url("../img/main/hero/1024/background_3.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/1024/background_3@2x.avif") 2x,
        url("../img/main/hero/1024/background_3.avif") 1x);
    background-image: image-set(url("../img/main/hero/1024/background_3@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/1024/background_3.avif") type('image/avif') 1x,
        url("../img/main/hero/1024/background_3@2x.jpg") 2x,
        url("../img/main/hero/1024/background_3.jpg") 1x);
  }

  .section-hero__container {
    padding-top: 115px;
    padding-bottom: 140px;
  }

  .section-hero__title {
    margin-bottom: 10px;
    line-height: 83px;
  }

  .section-hero__lead {
    margin-bottom: 151px;
    max-width: 660px;
  }

  /*Section us*/
  .section-us {
    padding-top: 74px;
    padding-bottom: 53px;
  }

  /*Section gallery*/
  .section-gallery {
    padding-bottom: 82px;
  }

  .section-gallery__container {
    grid-template-columns: minmax(150px, 280px) minmax(438px, 594px);
  }

  .section-gallery__swiper-container {
    height: 594px;
  }

  .section-gallery__description {
    margin-bottom: -12px;
  }

  .section-gallery__slide {
    height: calc((100% - 34px) / 2);
  }

  .modals__slider {
    max-width: calc(100vw - 100px);
    min-height: 594px;
  }

  .modals__img {
    max-width: 264px;
  }

  .modals__content {
    padding: 122px 50px 90px;
  }

  .choices__list--dropdown .choices__item--selectable {
    padding-right: 50px;
  }

  /* Каталог */
  .section-catalog {
    padding-top: 76px;
  }

  .section-catalog__title {
    margin-right: 43px;
  }

  .section-catalog__list-filter {
    padding-top: 22px;
  }

  .section-catalog__wrap-filter {
    margin-bottom: 8px;
  }

  .tabs-content,
  .accordion {
    flex: 1 1 437px;
  }

  /* События */
  .section-events {
    padding-bottom: 60px;
  }

  .events__item {
    max-width: 290px;
  }

  .events__img {
    max-height: 200px;
  }

  .events__description {
    padding: 20px 34px 19px;
  }

  .events-adress,
  .events-date {
    align-self: flex-end;
  }

  .events-adress {
    margin-bottom: 7px;
  }

  .events-date time {
    margin-bottom: 5px;
    line-height: 13px;
  }

  .events__title {
    margin-bottom: 10px;
  }

  .events__text {
    margin-bottom: 0;
  }

  .section-events__btn-nav {
    display: none;
  }

  .section-events__pagination {
    display: block;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -52px;
  }

  /* Проекты */
  .section-projects {
    padding-top: 62px;
  }

  .section-projects__swiper-wrap {
    padding-right: 53px;
    padding-left: 53px;
  }

  .partners__item {
    height: 128px;
  }

  /* Контакты */
  .section-contacts__wrap-border {
    padding-top: 48px;
  }

  .contacts__form {
    flex-basis: 100%;
    margin-right: 0;
  }

  .contacts__btn-call {
    flex-basis: 342px;
  }

  .ymaps-2-1-79-controls__control {
    display: none;
  }

  /* footer */
  .footer {
    padding-top: 44px;
    padding-bottom: 29px;
  }

  .footer__container {
    align-items: center;
  }

  .footer__socials-list {
    flex-basis: 240px;
  }

  .footer__socials-icon {
    width: 60px;
    height: 60px;
  }
}


@media (max-width: 768px) {

  /*Поиск*/
  .header__search-form_mobile {
    width: calc(100vw - 100px);
    height: 100%;
    z-index: 6;
  }

  .header__search-input_mobile {
    flex: 0 1 100%;
  }

  /*Section hero*/
  .slide-first {
    background-image: url("../img/main/hero/768/background_1.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/768/background_1@2x.avif") 2x,
        url("../img/main/hero/768/background_1.avif") 1x);
    background-image: image-set(url("../img/main/hero/768/background_1@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/768/background_1.avif") type('image/avif') 1x,
        url("../img/main/hero/768/background_1@2x.jpg") 2x,
        url("../img/main/hero/768/background_1.jpg") 1x);
  }

  .slide-second {
    background-image: url("../img/main/hero/768/background_2.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/768/background_2@2x.avif") 2x,
        url("../img/main/hero/768/background_2.avif") 1x);
    background-image: image-set(url("../img/main/hero/768/background_2@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/768/background_2.avif") type('image/avif') 1x,
        url("../img/main/hero/768/background_2@2x.jpg") 2x,
        url("../img/main/hero/768/background_2.jpg") 1x);
  }

  .slide-third {
    margin-right: 0;
    background-image: url("../img/main/hero/768/background_3.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/768/background_3@2x.avif") 2x,
        url("../img/main/hero/768/background_3.avif") 1x);
    background-image: image-set(url("../img/main/hero/768/background_3@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/768/background_3.avif") type('image/avif') 1x,
        url("../img/main/hero/768/background_3@2x.jpg") 2x,
        url("../img/main/hero/768/background_3.jpg") 1x);
  }

  /* Section gallery */
  .section-gallery {
    padding-bottom: 81px;
  }

  .section-gallery__container {
    grid-template-rows: auto;
    grid-template-columns: minmax(561px, 668px);
    column-gap: 0;
  }

  .section-gallery__wrap-filter {
    margin-bottom: 50px;
  }

  .section-gallery__form {
    max-width: 280px;
  }

  .section-gallery__slider-container {
    margin-bottom: 34px;
  }

  .section-gallery__swiper-nav {
    height: 57px;
  }

  .section-gallery__btn-next,
  .section-gallery__btn-prev {
    top: 22px;
  }

  .section-gallery__btn-next {
    left: 100px
  }

  .section-gallery__btn-prev {
    left: 0
  }

  .section-gallery__pagination {
    top: 0;
    left: 42px;
  }

  .modals__img {
    max-width: 301px;
  }

  .modals__content {
    padding: 122px 49px 90px;
  }

  .choices__list--dropdown {
    z-index: 20;
  }

  .choices__list--dropdown.is-active {
    background-color: rgba(0, 0, 0, .7);
  }

  /* Каталог */
  .section-catalog {
    padding-bottom: 33px;
  }

  .section-catalog__wrap-filter {
    /* flex-direction: column;
    align-items: flex-start; */
    margin-bottom: 14px;
  }

  .section-catalog__title {
    margin-right: 40px;
  }

  .section-catalog__list-filter {
    flex: 1 1 100%;
    justify-content: space-between;
    width: 100%;
    padding-top: 16px;
  }

  .section-catalog__item-filter:not(:last-child) {
    margin-right: 0;
  }

  .section-catalog__lead {
    margin-bottom: 21px;
  }

  .accordion__list-authors-country {
    padding-top: 26px;
    padding-bottom: 25px;
  }

  .accordion__list-author {
    column-count: 3;
  }

  .tabs-content {
    order: 1;
    margin-right: 0;
  }

  .accordion {
    margin-bottom: var(--gutter);
  }

  .tabs-content__dates {
    margin-bottom: 0;
  }

  /* Секция События */
  .section-events {
    padding-top: 34px;
  }

  .events__item {
    max-width: 317px;
  }

  .events__description {
    padding-bottom: 36px;
  }

  .events-adress,
  .events-date {
    margin-right: -18px;
  }

  .events__title {
    margin-bottom: 6px;
  }

  .events__text {
    margin-bottom: 21px;
  }

  .events__link-more {
    margin-left: -6px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -50px;
  }

  /* Проекты */
  .section-projects {
    padding-top: 60px;
  }

  .section-projects__description {
    margin-bottom: 28px;
  }

  .section-projects__partners {
    margin-bottom: 30px;
  }

  .partners__item {
    height: 106px;
  }

  /* Контакты */
  .section-contacts__wrap-border {
    padding-bottom: 7px;
  }

  .contacts__form {
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .contacts__input-wrap {
    margin-right: 0;
    flex-basis: 323px;
  }

  .contacts__btn-call {
    padding: 10px 18px;
    flex-basis: 317px;
  }
}


@media (max-width: 661px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  /*header*/
  /*Меню навигации*/
  .header__nav-wrap {
    padding: 96px 48px 51px;
  }

  .header__scroll-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 418px;
    max-height: calc(100vh - 147px);
  }

  .header__nav-scroll {
    width: 100%;
    height: 418px;
  }

  .header__nav-link {
    font-size: 18px;
    line-height: 48px;
  }

  /*Вход в аккаунт*/
  .header__link-account {
    border-radius: 100px;
    padding: 15px 60px;
  }

  /* Поиск */
  .header__search-form_mobile {
    right: 15px;
    width: calc(100vw - 30px);
  }

  /*Section hero*/
  .section-hero__swiper-slider {
    height: 565px;
  }

  .section-hero__slide {
    height: 565px;
  }

  .section-hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 25px 75px;
  }

  .section-hero__title {
    margin-bottom: 30px;
    width: 100%;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }

  .section-hero__lead {
    margin-bottom: 50px;
    width: 100%;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
  }

  .section-hero__link-sub {
    padding: 20px 30px;
    font-size: 16px;
    line-height: 16px;
  }

  /*Section us*/
  .section-us {
    padding-top: 35px;
  }

  /* Section gallery */
  .section-gallery__container {
    grid-template-columns: minmax(290px, 631px);
    column-gap: 0;
  }

  .section-gallery__btn-next,
  .section-gallery__btn-prev {
    top: auto;
    bottom: 0;
  }

  .section-gallery__btn-next {
    left: calc(50% + 35px)
  }

  .section-gallery__btn-prev {
    left: calc(50% - 65px)
  }

  .section-gallery__pagination {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .section-gallery__swiper-nav {
    margin-bottom: 20px;
  }

  .section-gallery__slide {
    height: 100%;
  }

  .modals__slider {
    max-width: calc(100% - 30px);
  }

  .modals__img {
    max-width: none;
    width: 225px;
  }

  .modals__content {
    padding: 70px 20px;
  }

  /* Каталог */
  .section-catalog__wrap-filter {
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 14px; */
  }

  .accordion__list-author {
    columns: 2;
  }

  /* Секция Проекты */
  .section-projects__swiper-wrap {
    padding-right: 66px;
    padding-left: 66px;
  }

  /* Контакты */

  .section-contacts__map {
    height: 100vw;
  }


  /* footer */
  .footer__container {
    flex-direction: column;
    padding-left: 55px;
    padding-right: 55px;
  }

  .footer__logo {
    margin-right: 0;
    order: 1;
  }

  .footer__socials-list {
    flex-basis: 50px;
    width: 100%;
    margin-bottom: 10px;
  }
}


@media (max-width: 480px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .title {
    font-size: 28px;
    line-height: 38px;
  }

  /*Верхний блок*/
  .header__container-black {
    padding-top: 8px;
    padding-bottom: 9px;
  }

  /*Кнопка бургер меню*/
  .header__btn-burger {
    width: 35px;
    height: 28px;
  }

  .header__burger-inner {
    width: 25px;
    height: 2px;
  }

  .header__burger-inner::after {
    top: 8px;
    width: 16px;
    height: 2px;
  }

  .header__burger-inner::before {
    top: 16px;
    width: 10px;
    height: 2px;
  }

  /*Лого*/
  .header__link-logo {
    min-width: 107px;
    height: 22px;
  }

  /*Меню навигации*/
  .header__nav-wrap {
    padding: 46px 15px 27px;
    /* max-height: 355px; */
    max-height: 100vh;
  }

  .header__scroll-wrap {
    height: 282px;
    max-height: calc(100vh - 73px);
  }

  /* .header__container-simplebar {
    width: 100%;
    height: 282px;
  } */

  .header__nav-scroll {
    width: 100%;
    height: 282px;
    max-height: calc(100vh - 73px);
  }

  .header__nav-link {
    font-size: 16px;
    line-height: 32px;
  }

  /*Вход в аккаунт*/
  .header__link-account {
    padding: 0 31px;
    font-size: 12px;
    line-height: 32px;
  }

  .header__link-arrow svg {
    width: 9px;
    height: 9px;
  }

  /*Поиск*/
  .header__search-btn_open svg,
  .header__search-btn_mobile svg {
    width: 18px;
    height: 18px;
  }

  .header__search-form_mobile {
    right: 0;
    margin-left: 0;
    padding: 40px 9px 19px 60px;
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header__search-input_mobile {
    margin-right: 32px;
    width: 108px;
  }

  .header__search-btn_close {
    padding-bottom: 20px;
  }

  .header__search-btn_close svg {
    width: 15px;
    height: 15px;
  }

  /*Section hero*/
  .section-hero__swiper-slider {
    height: 410px;
  }

  .section-hero__slide {
    height: 410px;
  }

  .slide-first {
    background-image: url("../img/main/hero/320/background_1.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/320/background_1@2x.avif") 2x,
        url("../img/main/hero/320/background_1.avif") 1x);
    background-image: image-set(url("../img/main/hero/320/background_1@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/320/background_1.avif") type('image/avif') 1x,
        url("../img/main/hero/320/background_1@2x.jpg") 2x,
        url("../img/main/hero/320/background_1.jpg") 1x);
  }

  .slide-second {
    background-image: url("../img/main/hero/320/background_2.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/320/background_2@2x.avif") 2x,
        url("../img/main/hero/320/background_2.avif") 1x);
    background-image: image-set(url("../img/main/hero/320/background_2@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/320/background_2.avif") type('image/avif') 1x,
        url("../img/main/hero/320/background_2@2x.jpg") 2x,
        url("../img/main/hero/320/background_2.jpg") 1x);
  }

  .slide-third {
    margin-right: 0;
    background-image: url("../img/main/hero/320/background_3.jpg");
    background-image: -webkit-image-set(url("../img/main/hero/320/background_3@2x.avif") 2x,
        url("../img/main/hero/320/background_3.avif") 1x);
    background-image: image-set(url("../img/main/hero/320/background_3@2x.avif") type('image/avif') 2x,
        url("../img/main/hero/320/background_3.avif") type('image/avif') 1x,
        url("../img/main/hero/320/background_3@2x.jpg") 2x,
        url("../img/main/hero/320/background_3.jpg") 1x);
  }

  .section-hero__container {
    padding: 30px 25px 45px;
  }

  .section-hero__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 40px;
  }

  .section-hero__lead {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .section-hero__link-sub {
    padding: 12px 17px;
    font-size: 12px;
    line-height: 16px;
  }

  /*Section us*/
  .section-us {
    padding-top: 51px;
    padding-bottom: 27px;
  }

  .section-us__title {
    margin-bottom: 12px;
  }

  .section-us__description {
    font-size: 14px;
    line-height: 28px;
  }

  /* section-gallery */
  .section-gallery {
    padding-top: 50px;
    padding-bottom: 52px;
  }

  .section-gallery__wrap-filter {
    margin-bottom: 40px;
  }

  .section-gallery__title {
    margin-bottom: 12px;
  }

  .section-gallery__form {
    max-width: 100%;
  }

  .section-gallery__form-title {
    margin-bottom: 5px;
  }

  .section-gallery__slider-container {
    height: 417px;
    margin-bottom: 20px;
  }

  .section-gallery__swiper-nav {
    height: 50px;
    margin-bottom: 0;
  }

  .section-gallery__swiper-container {
    margin-bottom: 20px;
  }

  .section-gallery__slide {
    height: 100%;
  }

  .section-gallery__swiper-nav {
    order: 1;
  }

  .modals__slider {
    flex-direction: column;
    min-height: 600px;
  }

  .modals__img {
    width: 100%;
  }

  .modals__content {
    width: 100%;
    padding: 17px 20px 26px;
  }

  .modals__title-artwork {
    margin-bottom: 5px;
  }

  .modals__date-artwork {
    margin-bottom: 12px;
  }

  /* Каталог */
  .section-catalog {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .section-catalog__wrap-filter {
    margin-bottom: 12px;
  }

  .section-catalog__title {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .section-catalog__list-filter {
    padding-top: 0;
  }

  .section-catalog__btn-filter {
    width: 32px;
    height: 32px;
  }

  .section-catalog__lead {
    display: none;
  }

  .accordion__btn {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .accordion__btn-dates {
    font-size: 18px;
  }

  .accordion__icon {
    width: 30px;
    height: 30px;
  }

  .accordion__icon-img {
    width: 12px;
    height: 7px;
    left: calc(50% - 6px);
  }

  .accordion__list-author {
    columns: 1;
  }

  .accordion__list-authors-country {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .accordion__item-author:not(:last-child) {
    margin-bottom: 0;
  }

  .tabs-content__img {
    margin-bottom: 20px;
  }

  .tabs-content__author {
    margin-bottom: 6px;
  }

  .accordion__placeholder-title {
    font-size: 18px;
  }

  .accordion__placeholder-text {
    width: 174px;
  }

  .accordion__placeholder-img {
    width: 79px;
    height: 118px;
    margin-right: 0;
    outline-offset: 6px;
  }

  /* События */
  .section-events {
    padding-top: 25px;
    padding-bottom: 40px;
  }

  .section-events__title {
    margin-bottom: 11px;
  }

  .events__item {
    max-width: 450px;
  }

  .events__description {
    padding: 22px 22px 37px;
  }

  .events-adress,
  .events-date {
    margin-right: -5px;
  }

  .events-adress {
    margin-bottom: 7px;
  }

  .events-date {
    margin-bottom: 13px;
  }

  .events__text {
    margin-bottom: 10px;
  }

  .events__link-more {
    margin-left: -2px;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -40px;
  }

  /* Секция Проекты */
  .section-projects {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .section-projects__title {
    margin-bottom: 14px;
  }

  .section-projects__description {
    margin-top: 0;
    margin-bottom: 9px;
  }

  .section-projects__partners {
    margin-bottom: 11px;
    font-size: 18px;
  }

  .section-projects__swiper-wrap {
    padding-left: 47px;
    padding-right: 47px;
  }

  .partners__item {
    height: calc((100vw - 124px) / 3);
  }

  .section-projects__swiper-btn-nav {
    top: 60%;
  }

  /* Секция Контакты */
  .section-contacts__wrap-border {
    padding-top: 25px;
    border: none;
  }

  .contacts__address-wrap {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .contacts__office-sales {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 24px;
  }

  .contacts__address {
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__form {
    margin-bottom: 21px;
  }

  .contacts__input-wrap {
    flex-basis: 100%;
    margin-bottom: 19px;
  }

  .contacts__input {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .contacts__btn-call {
    flex-basis: 58px;
    padding-left: 33px;
    padding-right: 33px;
    font-size: 12px;
    line-height: 16px;
  }

  .contacts__messegers {
    margin-bottom: 0;
  }

  .contacts__messegers-title {
    font-size: 18px;
    letter-spacing: -0.45px;
  }

  .contacts__messegers-icon-link {
    width: 50px;
    height: 50px;
  }

  /* footer */
  .footer {
    padding-top: 23px;
    padding-bottom: 12px;
  }

  .footer__container {
    padding-left: 55px;
    padding-right: 55px;
  }

  .footer__logo-img {
    width: 97px;
    height: 22px;
  }

  .footer__socials-icon {
    width: 50px;
    height: 50px;
  }
}
